<form class="{{cssClass}}" autocomplete="off">
    <div class="personalData">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div class="bio">
            {{> "systems/foundry_pendragon/"}}
        </div>
    </div>
</form>

